/* style.css */

/* Default style */
.container {
  background-color: #f0f0f0;
  color: black;
}

/* Dark mode */
.container.dark {
  background-color: #1a1a1a;
  color: white;
}

/* Alternate background */
.container.alternate {
  background-color: #e3e3e3;
}

/* Dark mode + alternate background */
.container.dark.alternate {
  background-color: #292929;
}

/* Input field */
input[type="text"] {
  flex-grow: 1;
  padding: 8px;
  border: none;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  color: black;
}

/* Dark mode input field */
input[type="text"].dark {
  background-color: #1a1a1a;
  color: white;
}

/* Alternate background input field */
input[type="text"].alternate {
  background-color: #e3e3e3;
}

/* Dark mode + alternate background input field */
input[type="text"].dark.alternate {
  background-color: #292929;
}

/* Send button */
button {
  margin-left: 16px;
  padding: 8px 16px;
  border: none;
  border-radius: 16px;
  background-color: #1e90ff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Dark mode send button */
button.dark {
  background-color: #0077be;
}

/* Alternate background send button */
button.alternate {
  background-color: #b3b3b3;
  color: black;
}

/* Dark mode + alternate background send button */
button.dark.alternate {
  background-color: #2b2b2b;
}

